body {
    background-color: rgb(50, 50, 50);
    color: white;
}

#title{
    padding-top: 20px;
    text-decoration: underline;
}

#mainPage{
    padding: 50px;
}

button{
    border-radius: 15px;
    margin-left: 10px;
}

li{
    padding-top: 15px;
    font-size: large;
}

h4{
    font-size: medium;
}

.description{
    margin-left: 20px;
    font-size: small;
    color: rgb(150, 150, 150);
    padding-bottom: 0px;
}